html, body {
    height: 100%; /* Asegura que el body tome toda la altura */
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: auto; /* Permite que se ajuste al contenido */
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
}

.card {
    width: 50%;
    height: 80vh;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative; /* Necesario para que los elementos hijos se posicionen en relación a la tarjeta */
    transition:  0.3s ease;
}

/* Clase para cards en estado filtrado (o inactivo) */
.card.limite {
    width: 50%;
}
  
  /* Clase para la card activa (al hacer click) */
.card.activa {
    width: 95%;
}

.card > .row {
    color: white;
    display: flex; 
    width: 100%; 
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
    background: transparent;
    background-color:rgba(211, 211, 211,15%);
    color: black;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-shrink: 0; /* Evita que el icono se reduzca al expandir la card */
    font-size: x-large;
}

.card > .row > .description {
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column; 
    opacity: 1; 
}

.pasoSelector{
    height: 7%;
    position: absolute;
    top: 14%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.texto {
    display: flex;
    color: aqua;
    position: absolute;
    transform: translate(0,65px);
    text-align: center;
    background-color: red;
}

.elementos {
    color: aqua;
    display: none;
    position: relative;
}


    
.elementos p:first-child{
    margin-bottom: 35%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2.5%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.elementos-ingredientes {
    color: aqua;
    display: none;
    overflow-y: auto;
}

.elementos-ingredientes::-webkit-scrollbar{
    width: 10px;
}

.elementos-ingredientes::-webkit-scrollbar-thumb{
    background-color: rgb(109, 109, 109);
    border-radius: 0 0 0 55px;
}

.elementos-ingredientes ul {
    margin-top: 5vh;
}

.elementos-ingredientes ul li {
    margin-bottom: 5%; /* Ajusta el valor según el espacio que desees */
    font-family: Arial, Helvetica, sans-serif;
}


.elementos-ingredientes p {
    text-transform: uppercase;
    margin-bottom: 35%;
    font-family: Arial, Helvetica, sans-serif;
}

.elementos-ingredientes p:first-child{
    margin-bottom: 35%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2.5%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.elementos-ingredientes ul li:last-child{
    padding-bottom: 5%;
}

.description h4 {
    color: white; /* Asegúrate de que el color del texto sea legible */
    text-transform: uppercase;
    margin: 0; /* Asegúrate de que no haya margen adicional */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: none;
}

input:checked + label {
    width: 100%;
    height: 100vh; /* Para asegurarte de que ocupa todo */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2.29%;
    margin-top: 1.5%;
}

input:checked + label .description {
    opacity: 1;
}

input:checked + label .row .elementos {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; /* Lo hace dependiente de la tarjeta */
    top: 50%; /* Mueve el elemento desde el top de la tarjeta */
    left: 0%;
    right: 65%; /* Alinea desde el lado derecho */
    bottom: 5.2%; /* Alinea desde el fondo */
    border-top-right-radius: 55px;
}

input:checked + label .row .elementos-ingredientes {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; /* Lo hace dependiente de la tarjeta */
    top: 50%; /* Mueve el elemento desde el top de la tarjeta */
    left: 65%;
    right: 0%; /* Alinea desde el lado derecho */
    bottom: 5.2%; /* Alinea desde el fondo */
    border-top-left-radius: 55px;
}


/* Imagen cuando el input NO está marcado */
.card[for="c1"]:not(input:checked) {
    background-image: url(/Proyecto/Imagenes/Desayuno/Tortitas\ de\ avena\ con\ platanao\ y\ sirope\ .jpg);
    background-position: center;
    transition: background-image 3.5s ease;
}

.card[for="c2"]:not(input:checked) {
    background-image: url(/Proyecto/Imagenes/Desayuno/smoothie-de-acai_00000000_230215171429_720x1080.jpg);
    background-position: center;
    transition: background-image 3.5s ease;
}

/* Imagen cuando el input está marcado */
input#c1:checked + label[for="c1"] {
    background-image: url(/Proyecto/Imagenes/Desayuno/pankake\ con\ platano\ horizontal.jpg);
    background-position: center;
    transition: background-image 1s ease;
    height: 80vh;
}

input#c2:checked + label[for="c2"] {
    background-image: url(/Proyecto/Imagenes/Desayuno/smoothie\ fresa\ horizontal.jpg);
    transition: background-image 1s ease;
    height: 80vh;
}

input#c3:checked + label[for="c3"] {
    background-image: url();
    background-position: center;
    transition: background-image 1s ease;
    height: 80vh;
}

input#c4:checked + label[for="c4"] {
    background-image: url();
    background-position: center;
    transition: background-image 1s ease;
    height: 80vh;
}

input#c5:checked + label[for="c5"] {
    background-image: url();
    background-position: center;
    transition: background-image 1s ease;
    height: 80vh;
}

header {
    background-color: rgba(134, 134, 134, 0.541);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 1px 1px 10px;
    height: 120px; 
    padding: 0 20px; 
    width: 100%;
}

nav {
    width: 100%;
    height: 100px; /* Asegúrate de que coincida con el header */
}


.menu-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

.lista {
    margin-left: 40px;
    position: relative;
    transform: translateY(5px);
}

label {
    cursor: default; /* Cambia el cursor al pasar sobre el label */
}

button {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    gap: 0.64rem;
    cursor: pointer;
}

button > div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}

button:hover div:first-child {
    transform: rotate(45deg);
}

button:hover div:nth-child(2) {
    opacity: 0;
}

button:hover div:nth-child(3) {
    transform: rotate(-45deg);
}

.desplegable {
    display: none; /* Mantiene la lista oculta por defecto */
    position: absolute;
    left: 0;
    background-color: rgba(139, 139, 139);
    min-width: 160px;
    box-shadow: 1px 1px 3px; 
    list-style-type: none;
    margin-top: -62px;
    margin-left: 55px;
    margin-bottom: 100px;
    border-radius: 10px;
    max-width: 914px;
}

.desplegable li {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}


.lista .desplegable a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

.desplegable li:hover {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.desplegable li a {
    margin-left: 30px;
}

.desplegable li a:first-child {
    margin-left: -25px;
}

.desplegable li a:last-child {
    padding-right: 30px;
    margin-left: 10px;
}

