html, body {
    height: 100%; /* Asegura que el body tome toda la altura */
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.wrapper {
    width: 100%;
    min-height: 90%; /* Evita problemas de altura */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: auto; /* Permite que se ajuste al contenido */
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
}

.card {
    width: 50%;
    height: 400px;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative; /* Necesario para que los elementos hijos se posicionen en relación a la tarjeta */
    transition: 0.3s ease;
}
.card > .row {
    color: white;
    display: flex; 
    width: 100%; 
}

.card > .row > .icon {
    background: transparent;
    color: black;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-shrink: 0; /* Evita que el icono se reduzca al expandir la card */
    font-size: x-large;
}

.card > .row > .description {
    position: absolute; /* Posiciona la descripción de forma absoluta */
    bottom: 0; /* Coloca la descripción en la parte inferior */
    left: 0; /* Alinea la descripción a la izquierda */
    right: 0; /* Alinea la descripción a la derecha */
    padding: 10px; /* Espaciado interno */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semiopaco para mejorar la legibilidad */
    display: flex;
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
    opacity: 1; /* Asegúrate de que la opacidad sea 1 para que el texto sea visible */
}

.description p {
    color: aqua;
    padding-top: 5px;
}

.description h4 {
    color: white; /* Asegúrate de que el color del texto sea legible */
    text-transform: uppercase;
    margin: 0; /* Asegúrate de que no haya margen adicional */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: none;
}

input:checked + label {
    width: 100%;
}

input:checked + label .description {
    opacity: 1;
    transform: translateY(0);
}

.card[for = "c1"] {
    background-image: url(/Proyecto/Imagenes/Desayuno/Tortitas\ de\ avena\ con\ platanao\ y\ sirope\ .jpg);
    background-position: center 10%;
}

.card[for = "c2"] {
    background-image: url(/Proyecto/Imagenes/Desayuno/smoothie-de-acai_00000000_230215171429_720x1080.jpg);
}

header {
    padding-top: 10px;
    background-color: rgba(134, 134, 134, 0.541);
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
}

nav{
    height: 110px;
}

nav a#atras {
    color:whitesmoke;
    display: block;
}

#atras {
    text-decoration: none;
    font-size: xxx-large;
    margin-top: 40px;
    margin-left: 20px;
}
