html {
    background-color:rgb(217,217,217);
    overflow-x: hidden;
}

body {
    background-image: url(../../Imagenes/imagenes_formulario/ChatGPT\ Image\ 7\ may\ 2025\,\ 14_00_01.png);
}

header {
    margin-top: 0px;
    background-color: rgb(139, 139, 139);
    padding: 12px 20px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px;
}

.lista {
    position: relative;
    display: inline-block;
}

label {
    cursor: default; 
}

button {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    gap: 0.64rem;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button > div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
    margin-top: 0.5px;
}

button:hover div:first-child {
    transform: rotate(45deg);
}

button:hover div:nth-child(2) {
    opacity: 0;
}

button:hover div:nth-child(3) {
    transform: rotate(-45deg);
}

.desplegable {
    display: none; /* Mantiene la lista oculta por defecto */
    position: absolute;
    left: 0;
    background-color: rgb(139, 139, 139);
    min-width: 160px;
    width: 200px;
    box-shadow: 1px 1px 3px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
    top: 70px;
    border-radius: 10px;
    top: 90%;
    margin-left: -23%;
}

.lista:hover .desplegable{
    display: inline-block; /*Cuando pasas el raton por el div, sale la lista */
}

.lista:hover .desplegable {
    display: inline-block;
}

.desplegable li {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

.desplegable li:hover {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.lista .desplegable a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

#recetario-magico {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
}

.cuadro_formulario {
    width:60vw ;
    height: 80vw;
    background-color:whitesmoke ;
    margin-left: 19vw;
    margin-top:0.3vw;
    margin-bottom:5vw;
    box-shadow:1px 5px 15px rgb(97, 96, 96);;
    border-radius: 15px;
}

.titulo {
    display: inline-block;
    transform: translate(10vw, 1vw);
    font-family:Arial, Helvetica, sans-serif ;
    font-size:3.5vw;
    font-weight: bolder;
    color: #333;
}

.subtitulos {
    font-family:Arial, Helvetica, sans-serif ;
    font-size:2vw;
    font-weight: bolder;
    margin-left: 6vw;
    margin-top: 15vw;
    color: #333;
}

#primera {
    margin-top: 5vw;
}

#contenedor-radius {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    gap: 20px;
    margin-bottom: -12vw;
}

.cuando {
    display:none;
}

.label-radios {
    padding: 10px 20px;
    background-color:whitesmoke;
    color: black ;
    border-radius: 10px;
    border:10px rgb(72, 75, 75) ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height:8vw ;
    width:8vw ;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 2px solid rgb(72, 75, 75);
}

.cuando:checked + .label-radios {
    background-color: rgb(138, 141, 141);
    border-color: rgb(23, 24, 24);
}

.label-radios:hover {
    background-color: rgb(138, 141, 141);
}

/* Repetimos lo mismo */

#contenedor-radius-2 {
    display: flex;
    align-items: center;
    margin-left: 8vw;
    gap: 20px;
    margin-bottom: -12vw;
}

.cuando-2 {
    display:none;
}

.label-radios-2 {
    padding: 10px 20px;
    background-color:whitesmoke;
    color: black ;
    border-radius: 10px;
    border:10px rgb(72, 75, 75) ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height:8vw ;
    width:8vw ;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 2px solid rgb(72, 75, 75);
}

.cuando-2:checked + .label-radios-2 {
    background-color: rgb(138, 141, 141);
    border-color: rgb(18, 19, 19);
}

.label-radios-2:hover {
    background-color: rgb(138, 141, 141);
}

#cruasan {
    display: block;
    margin-left: 10px;
    margin-bottom: 50px;
    transform: translate(30px);
}

#Comida {
    display: block;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: -10px;
}

#Merienda {
    display: block;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: -20px;
}

#Cena {
    display: block;
    margin-bottom: 70px;
    transform: translate(-20px);
}

#cuadro-desayunos {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-2 {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-3 {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-4 {
    display: block;
    margin-top: 100px;
    margin-left: -115px;
    transform: translate(20px);
}
/* Repetimos lo mismo */
#Carnes {
    display: block;
    margin-left: 10px;
    margin-bottom: 50px;
}

#Pescados {
    display: block;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: -10px;
    transform: translate(10px);
}

#Vegano {
    display: block;
    margin-left: 10px;
    margin-bottom: 60px;
}

#Postres {
    display: block;
    margin-bottom: 70px;
    transform: translate(-1px);
}

#cuadro-desayunos-5 {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-6 {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-7 {
    display: block;
    margin-top: 100px;
    margin-left: -90px;
}

#cuadro-desayunos-8 {
    display: block;
    margin-top: 100px;
    margin-left: -110px;
}
/* Repetimos lo mismo */
select[multiple] {
    transform: translate(150px);
    width: 30vw;
    height: 100px;
    font-size: 1vw;
    border-radius: 6px;
    border: 1px solid rgb(18, 19, 19);
    margin: 0vw;
}
/* Repetimos lo mismo */
#contenedor-radius-3 {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    gap: 20px;
    margin-bottom: -12vw;
    margin-top: -15vw;
}

.cuando-3 {
    display:none;
}

.label-radios-3 {
    padding: 10px 20px;
    background-color:whitesmoke;
    color: black ;
    border-radius: 10px;
    border:10px rgb(72, 75, 75) ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    height:1vw ;
    width:4.vw ;
    font-size:1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 2px solid rgb(72, 75, 75);
    transform: translate(100px);
    margin-top: 2vw;
}


.cuando-3:checked + .label-radios-3 {
    background-color: rgb(138, 141, 141);
    border-color: rgb(18, 19, 19);
}

.label-radios-3:hover {
    background-color: rgb(138, 141, 141);
}

#reloj {
    margin-left: -15px;
    margin-right: 10px;
}

#reloj-1 {
    margin-left: -15px;
    margin-right: 10px;
}

#reloj-2 {
    margin-left: -15px;
    margin-right: 10px;
}

#reloj-3 {
    margin-left: -15px;
    margin-right: 10px;
}

#reloj-4 {
    margin-left: -15px;
    margin-right: 10px;
}

#reloj-5 {
    margin-left: -15px;
    margin-right: 10px;
}

#div-botón {
    cursor: pointer;
    margin-left: 530px;
    transform: translateY(270px);
    background-color: rgb(139, 139, 139);
    height: 2vw;
    width: 8vw;
    border-radius: 5px;
}

#label-envío {
    align-items: center;
    height: 2vw;
    width: 7vw;
}

#label-envío p {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    padding-top: 8px;
}

#botón {
    display:none;
    cursor: pointer;
    height: 2vw;
    width: 7vw;
}

footer {
    margin-top: 0px;
    background-color: rgb(139, 139, 139);
    padding: 12px 20px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    box-shadow: 1px 1px 10px;
    height: 7vw;
    margin-top: -4.7vw;
}

#logo {
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 1px 1px 5px ;
    margin-left: -13vw
}

.enlace a {
    color: #333;
    font-weight: bolder;
    text-decoration:none ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large
}

#Cuarta {
    transform:translateY(-250px)
}