body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

header {
    margin-top: 0px;
    background-color: rgba(134, 134, 134, 0.541);
    padding: 12px 20px; /* Ajusta el padding para un mejor espaciado */
    border-radius: 9px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    box-shadow: 1px 1px 10px;
}

.lista {
    position: relative;
    display: inline-block;
}

label {
    cursor: default; /* Cambia el cursor al pasar sobre el label */
}

button {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    gap: 0.64rem;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button > div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
    margin-top: 0.5px;
}

button:hover div:first-child {
    transform: rotate(45deg);
}

button:hover div:nth-child(2) {
    opacity: 0;
}

button:hover div:nth-child(3) {
    transform: rotate(-45deg);
}

.desplegable {
    display: none; /* Mantiene la lista oculta por defecto */
    position: absolute;
    left: 0;
    background-color: rgb(139, 139, 139);
    min-width: 160px;
    width: 200px;
    box-shadow: 1px 1px 3px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
    top: 70px;
    border-radius: 10px;
    top: 90%;
    margin-left: -23%;
}

.lista:hover .desplegable{
    display: inline-block; /*Cuando pasas el raton por el div, sale la lista */
}

.lista:hover .desplegable {
    display: inline-block;
}

.desplegable li {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

.desplegable li:hover {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}

.lista .desplegable a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

#recetario-magico {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Permite que el div ocupe el espacio disponible */
    display: flex; 
    justify-content: center; 
}

#prin {
    background-color: whitesmoke;
    height: 700px;
    width: 80%;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 0.3px 1px 3px;
    margin-top: 2px;
}

#Receta_adecuada {
    margin-left: 1200px;
    margin-top:-14px;
    padding-top: 0px;
    background-color:darkgrey;
    transform: translate(50%, 50%);
    width: 160px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 0.3px 1px 3px ;
}

#Receta_adecuada button {
    width: 160px;
    height: 50px;
}

#Receta_adecuada a {
    color: #333;
    width: 160px;
    height: 50px;
    transform: translate(-15%, 30%);
    font-size:larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#info {
    background-color:rgba(134, 134, 134, 0.541);
    width: 100%;
    height: 110px;
    border-radius: 10px;
    box-shadow: -1.5px 1px 5px;
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    nav {
        width: 100%;
        height: 10%;
        z-index: 10;
    }
    main {
        height: 80%;
    }
    footer {
        height: 10%;
    }
    #Receta_adecuada {
        margin-left: 0%;
    }
    #recetario-magico p {
        text-align: center;
        margin-left: -250px;
    }
}

@media (max-width: 1050px) and (min-width: 770px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    nav {
        height: 10vh;
    }
    main {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #prin {
        height: 100%;
    }
    footer {
        height: 300px;
    }
    #Receta_adecuada {
        margin-left: 550px;
    }

    #recetario-magico p {
        text-align: center;
        margin: 0 auto;
    }
}
