header {
    margin-top: 0px;
    background-color: rgba(134, 134, 134, 0.541);
    padding: 12px 20px; /* Ajusta el padding para un mejor espaciado */
    border-radius: 4px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia los elementos */
}

.lista {
    position: relative;
    display: inline-block;
}

input[type="checkbox"] {
    display: none; /* Oculta el checkbox */
}

label {
    cursor: default; /* Cambia el cursor al pasar sobre el label */
}

button {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    gap: 0.64rem;
    cursor: pointer;
}

button > div {
    background: black;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}

button:hover div:first-child {
    transform: rotate(45deg);
}

button:hover div:nth-child(2) {
    opacity: 0;
}

button:hover div:nth-child(3) {
    transform: rotate(-45deg);
}

.desplegable {
    display: none; /* Mantiene la lista oculta por defecto */
    position: absolute;
    left: 0;
    background-color: rgb(139, 139, 139);
    min-width: 160px;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.desplegable li {
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

.desplegable li:hover {
    background-color: whitesmoke;
}

.toggle:checked + label + .desplegable {
    display: block; /* Muestra la lista cuando el checkbox está marcado */
}

.lista .desplegable a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

#recetario-magico {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Permite que el div ocupe el espacio disponible */
    display: flex; 
    justify-content: center; 
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}